<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Univerziteti.DataProvider.Properties.Settings.ConnectionString"
            connectionString="Data Source=DC04L\IVAN;Initial Catalog=Univerziteti;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>